//Text Styles 
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$font-sans: 'Open Sans', sans-serif;

//Colors
$black: #34435E;
$white: #ffffff;
$dark-teal: #031B1C;
$med-dark-teal: #376E6F;
$med-light-teal: #57B4B5;
$light-teal: #DBFFFF;
$light-gray:rgb(214, 214, 214);
$med-gray: rgb(155, 152, 152);
$dark-gray:rgb(105, 103, 103);
$dark-pink: #2E151B;
$med-dark-pink: #8E4859;
$med-light-pink: #DA7B93;
$light-pink: #FFE3EA;
$bright-pink: #ff55b2;
$main-white: whitesmoke;
$main-light: pink;
$main-med: rgb(237, 34, 146);
$main-med-opac: rgba(237, 34, 146, 0.6);
$main-dark: rgb(10, 0, 0);
$main-dark-opac: rgba(10, 0, 0, .6);

*,
*::before,
*::after {
    box-sizing: border-box;
}
.body, html {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    font-family: sans-serif;
}
.wrapper {
background: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(51,79,76,1) 75%, rgb(74, 148, 142) 100%);
width: 100%;
overflow-x: hidden;
}

h1 {
  font-weight: 400;
  font-size: 2.8rem;
  font-family: 'Oswald', sans-serif;
  color: $med-light-teal;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: $main-med;
  padding: .5em 1.25em;
  border-radius: .25rem;
  border: none;

  &:hover, &:focus {
      background-color: $main-light;
      color: #031B1C;
      border: none;
  }
}
p {
  font-family: 'Raleway', sans-serif;
  color: $light-teal;
}
.underline {
  width: 10%;
  padding-top: 0rem;
  margin: 0 auto;
  border-bottom: 3px solid $med-gray;
  text-align: center;
  position: relative;
}
.underline span {
  position: relative;
  top: 18px;
  padding: 0 10px;
  color: $med-light-teal;
  font-size:25px;
}
.glow {
  color: #111; 
  border: 2px solid $med-light-teal;
  box-shadow: 0 0 100px $bright-pink; 
}

// Main Section Styles
.navigation {
  font-size: 1.4em;

  .navigation-bar {
    padding-left: 1rem;
    .nav-link {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    a:link, a:visited, a:active {
      font-family: 'Oswald';
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: $bright-pink !important;
    }
  }
  .dropdown-menu {
    background-color: #031B1C;
    padding: 1rem;
  }
}
.hero {
  background-image: url("../img/hero2.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 50%;
  max-height: 70vh;
  background-position:center;
  position: relative;

  .row {
    height: 100%;
  }
  .col1 {
    height: 100%;

    #jc {
      max-height: 300px;
      position: absolute;
      top: 0%;
      left: 0%;
    }
  }
  .col2 {
    padding-top: 4rem;
    height: 80%;
    background-color: rgba(56, 51, 51, 0.65);
    
    p, h1 {
      color: whitesmoke;
    }
    h1 {
      font-size: 4em;
    }
    p {
      font-size: 1.8em;
      font-weight: 700;
    }
  }
}
.about-me {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 10rem;

  .row {
    height: 20vh;
    background-image: linear-gradient(to right, $med-dark-teal , $bright-pink, $med-light-pink);
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  #jc {
    position: absolute;
    max-height: 290px;
    top: 0%;
    left: 0;
  }
  #me1 {
    position: absolute;
    top: 10%;
    right: 10%;
    max-height: 250px;
  }
}
.hero-contact {
  .row {
    width: 80%;
    margin: 0 auto;

    .col {
      position: relative;

      #jc2 {
        display: none;
      }
      h1 {
        font-size: 3.5em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
.skills {
  background-image: url('../img/macbook3.jpg');
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: top;
  width: 100%;
  margin: 0 auto;
  padding-left: 25%;
  padding-right: 25%;

  .row {
    margin: 0 auto;
  }
  ul {
    list-style: none;
    display: inline;
    
    li {
      margin: 0 auto;
      i {
        padding: .2rem;
        font-size: 3.5em;
        color: white;
      }
    }
  }
}
hr {
  margin-top: 3rem;
  color: #DBFFFF;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: .15em;
}
.main-timeline {
  padding-top: 5rem;
}
.wrapper2 {
  min-height: 90vh;
}
.success {
  background-color: rgba(80, 77, 77, 0.6);
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 1rem;
  border-radius: 35px;
}
main {

  .contact-form {
    margin: 0 auto;
    background-color: rgba(56, 51, 51, 0.35);
    padding: 5%;
    max-width: 400px;
    margin-top: 3rem;

    input {
      margin-top: 1rem;
    }
    label {

      color: #DBFFFF;
    }
  }
}
.me {
  padding-bottom: 2rem;

  img {
    max-height: 200px;
    padding-bottom: 1rem;
  }
  .col {
    padding-left: 2rem;
    padding-right: 2rem;

  }
  p{
    width: 85%;
    margin-left: 1rem;
    text-align: start;
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }
  .row2 {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    padding-top: .5rem;
  }
}
.recent {
  background-color: rgba(80, 77, 77, 0.6);
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 85%;
  border-radius: 35px;

  .header {
    padding-top: 2rem;
    margin: 0 auto;
  }
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .col {
    padding: 1rem;
    margin: 0 auto;

    .card {
      margin: 0 auto;
      width: 90%;
    }
  }
}
.gallery {
  min-height: 45vh;
  background-color: rgba(56, 51, 51, 0.35);
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin: 0 auto;
  width: 90%;
  border-radius: 15px;

  .header {
    padding-top: 0rem;
    margin: 0 auto;
  }
  .row {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
  }
  .col {
    padding: 1rem;
    margin: 0 auto;

    .icons{
      margin: 0 auto;
      border: .5px solid $med-light-teal;
      width: fit-content;
      padding-bottom: 0;
    }
    i {
      font-size: 1.4em;
      padding-left: .5em;
      padding-right: .5em;
      padding-top: .5rem;
    margin-bottom: 3rem;
    }
    .card {
      margin: 0 auto;
      width: 90%;
      height: 90%;
      padding-bottom: 2rem;
    }
  }
}
.call {
  margin-top: 3rem;
  background-color: white;
  min-height: 20vh;
}
.card1 {
  background-image: url("../img/knk-thumbnail.png");
}
.card2 {
  background-image: url("../img/cardeal-thumbnail.png");
}
.card3 {
  background-image: url("../img/webdev-thumbnail.png");
}
.card4 {
  background-image: url("../img/wilson-thumbnail.png");
}
.card5 {
  background-image: url("../img/pandasia-thumbnail.png");
}
.card6 {
  background-image: url("../img/tri-succed-thumbnail.png");
}
.card {
  color: $main-white;
  background-size: cover;
  background-position: center;
  padding: 8rem 0 0;
  max-width: 55ch;
  border-radius: .5rem;
  overflow: hidden;
  transition: transform 500ms ease;
  border: 1.5px solid $med-dark-teal;

  &:hover {
    border: 2px solid $med-light-teal;
    box-shadow: 0 0 100px $med-dark-teal; 
  }
  .card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background-image: linear-gradient(to bottom, $main-med-opac , $main-dark-opac);

    h2 {
      font-family: 'Oswald', sans-serif;
      font-size: 2em;
      font-weight: 700;
      padding-bottom: 1em;
    }
    p {
      font-weight: 700;
      font-size: 1.4em;
    }
    .card-title {
      position: relative;
      width: max-content;

        &::after {
          content: "";
          position: absolute;
          height: 4px;
          width: calc(100% + var(--padding));
          left: calc(var(--padding)*-1);
          bottom: 0;
          background-color: $main-med;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 500ms ease;
        }
      }
      .button {
          cursor: pointer;
          display: inline-block;
          text-decoration: none;
          color: $main-white;
          background-color: $main-med;
          padding: .5em 1.25em;
          border-radius: .25rem;

          &:hover, &:focus {
              background-color: $main-light;
              color: #031B1C;
          }
      }
  }
  &:hover, &:focus-within {
      transform: scale(1.05);
  }
  &:hover {
      .card-content > * {
          opacity: 1;
      }
      .card-content, .card:hover:focus-within .card-content {
          transform: translateY(0);
          transition-delay: 500ms;
      }
      .card-title::after {
          transform: scaleX(1);
      }
  }
} 
.process {
  margin: 0 auto;
  padding-top: 2rem;
  width: 70%;

  .row {
    margin: 0 auto;

    .col {
    
      h1 {
        margin-bottom: 2rem;
      }
      i {
        font-size: 1.5em;
        color: $med-light-pink;
      }
      h3 {
        color: white;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}

main {
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  overflow-x: hidden;
  p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: white;
    
    &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 11px;
      height: 2.5em;
      width: 2.5em;
      background-color: $black;
      text-align: center;
      line-height: 1.25em;
      color: $white;
      font-size: 1em;
      font-weight: 700;
    }
  }
  p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
    
    &:before {
      left: 100%; 
      margin-left: -25px;
    }
  }
  p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
    
    &:before {
      right: 100%; 
      margin-right: -25px;
    }
  }
  p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
}

  //  PROJECT  STYLES //
  .project-heading {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 10rem;
  
    .row {
      height: 7vh;
      background-image: linear-gradient(to right, $med-dark-teal , $bright-pink, $med-light-pink);
      margin-top: 6rem;
      margin-bottom: 3rem;
    }
    #jc {
      position: absolute;
      max-height: 190px;
      top: 5%;
      left: 0%;
    }
    #me1 {
      position: absolute;
      top: 10%;
      right: 10%;
      max-height: 200px;
    }
  }
.description-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;

  .heading3 {
    padding-bottom: 3rem;
  }
  h3 {
    color: $dark-teal;
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
  }
  hr {
    margin: 0 auto;
    color: #031B1C;
    margin: 3rem;
  }
}
.dev, .design, .ui, .challenges {

  p {
    color: $dark-teal;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.4em;
  }
  .row {
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;

    h5 {
      color: $med-dark-teal;
      font-size: 1.3em;
    }
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      padding: 1rem;
      position: relative;

      h2 {
        position: absolute;
        top: 20%;
        left: 200%;
      }
    }
    .circle1 {
      background-color: #F5F5F5;
    }
    .circle2 {
      background-color: #748CAB;
    }
    .circle3 {
      background-color: #FBF9F0;
    }
    .circle4 {
      background-color: #1C2D44;
    }
    .col {
      margin: 0 auto;

      h5 {
        color: $med-dark-teal;
        font-size: 1.3em;
      }
      p {
        color: $dark-teal;
        padding-right: 3rem;
        padding-left: 3rem;
        font-size: 1.4em;
      }
    }
  }
}
.project-description {
  margin: 0 auto;

  .row {
    width: 90%;
    margin: 0 auto;

    .col {
      margin: 0 auto;

      .project-title {

        h3 {
          color: $med-light-teal;
        }
        p{
          color: $dark-teal;
          font-size: 1.2em;
          padding-right: 2rem;

        }
      }
      img {
        max-width: 80%;
        min-width: 50%;
        padding-left: 1rem;
      }
    }
  }
}
.project-expanded {
  border-top: 1px solid $med-gray;
  padding-top: 3rem;
  margin-top: 3rem;

  .row {
    width: 85%;
    margin: 0 auto;

    .col {
      padding: 3rem;

      p {
        color: $dark-teal;

        i {
          color: $med-light-teal;
          padding-right: 2rem;
          font-size: 2em;
        }
      }
    }
    .col2 {
      border: 1px solid $med-gray;
      max-height: fit-content;

      ul>li {
        list-style: none;
      }
      .sub-desc {
        padding-bottom: 2rem;
      }
    }
  }
}
footer {
  background-color: $dark-teal;
  padding: 1rem;

  .row {
    background-color: $dark-teal;

    .col1 {
      border-right: 2px solid white;
      margin-top: 2rem;
      height: 100%;
      background-color: $dark-teal;
    }
    .col {
      position: relative;
      background-color: $dark-teal;

      img {
        max-height: 100px;
        padding-left: 2rem;
      }
      ul {
        justify-content: center;
        position:absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        height: 20px;
      }
      ul > li {
        list-style: none;
        display: inline-block;
        
        i {
          padding: 1rem;
          font-size: 2.5em;
          color: white;
        }
      }
    }
    .col2 {
      background-color: $dark-teal;
    }
  }
}
// -----------------------------------MEDIA QUERIES--------------------
@media (hover) {
    .card-content{
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
}
@media screen and (max-width: 600px) {
  .hero-contact {
    .row {
      width: 80%;
      margin: 0 auto;
  
      .col {
        position: relative;

        h1 {
          font-size: 2.5em;
        }
        p {
          font-size: 1.4em;
        }
        #jc2 {
          display: inline;
          max-height: 150px;
        }
      }
    }
  }
  #jc {
    height: 75px;
  }
  #me1{
    position: relative;
  }
  h1 {
    font-size: 1.8em;
  }
  .main-timeline {
    padding-top: 5rem;
    max-width: 85%;
  }
  .project-description {
    margin: 0 auto;
  
    .row {
      width: 90%;
      margin: 0 auto;

      .col {
        margin: 0 auto;
  
        .project-title {
  
          h3 {
            color: $med-light-teal;
            font-size: 1.4em;
          }
          p{
            color: $dark-teal;
            font-size: 1em;
            padding-right: 2rem;
  
          }
        }
        img {
          max-width: 80%;
          min-width: 50%;
          padding-left: 1rem;
        }
      }
    }
  }
  .proj-page-title {
    h1 {
      font-size: 2em;
    }
  }
  .dev, .design, .ui, .challenges {

    p {
      color: $dark-teal;
      padding-right: .5rem;
      padding-left: .5rem;
      font-size: .9em;
    }
    .row {
      width: 80%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin: 0 auto;

      hr {
        display: none;
      }
      h5 {
        color: $med-dark-teal;
        font-size: 1em;
      }
      .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 1rem;
        position: relative;
  
        h2 {
          position: absolute;
          top: 20%;
          left: 200%;
        }
      }
      .circle1 {
        background-color: #F5F5F5;
      }
      .circle2 {
        background-color: #748CAB;
      }
      .circle3 {
        background-color: #FBF9F0;
      }
      .circle4 {
        background-color: #1C2D44;
      }
      .col {
        margin: 0 auto;
  
        h5 {
          color: $med-dark-teal;
          font-size: 1em;
        }
        p {
          color: $dark-teal;
          padding-right: .5rem;
          padding-left: .5rem;
          font-size: .9em;
        }
      }
    }
  }
  .me {
    margin: 0 auto;
    padding: 0;

    .row2 {
      margin: 0 auto;
      padding-bottom: .5rem;

      .col {
      img {
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
      }
      }
      p {
        font-size: .9em;
      }
    }   
  }
  .hero {
    background-position: center;

    .row {

      .col {

        h1 {
          font-size: 2.9em;
        }
        p {
          font-size: 1.3em;
          padding: 1rem;
        }
      }
    }

  }
}
@media screen and (max-width: 900px) {
  .hero {

    .row {

      .col {

        #jc {
          height: 75px;
        }
      }
    }
  }
  .skills {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;

    .row {
      margin: 0 auto;
   
      .col {
        margin: 0 auto;
      }
    }
    ul {
      
      li {

        i {
          padding: .2rem;
          font-size: 2em;
          color: white;
  
        }
      }
    }
  }
  footer {
    padding-bottom: 1rem;
    .row {

      .col {

        ul {
          padding: 1rem;
        }
        ul>li {
          display: inline;
          i{
            font-size: 1.6em;
            padding: .2rem;
          }
        }
      }
    }
  }
}